<html>
<%- include('./header.ejs');%>

  <body>
    <%- include('./menu.ejs');%>

      <div class="container">
          <!-- Main component for a primary marketing message or call to action -->
          <div class="jumbotron">
            <h1>Benvenuto <%= userId.nome %>
            </h1>
            <p>Effettua o cancella una prenotazione</p>
            <p>
              <a class="btn btn-lg btn-primary" href="/home/profile" role="button">Visualizza profilo»</a>
            </p>
            <p>
              <a class="btn btn-lg btn-primary" href="/dashboard/reservation" role="button">Prenotazione posti»</a>
            </p>
          </div>
      </div>

  </body>

</html>