<html>
<%- include('./header.ejs');%>

    <body>
        <div class="container col-sm-12" id="mainform">
            <div id="editProfile" style=" margin-top:50px"
                class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <%=data.nome%>, <%=data.cognome%>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post" action="/home/editProfile">
                            <!-- Email -->
                            <div class="form-group">
                                <label for="email">Email</label>
                                <div>
                                    <p class="text-primary">
                                        <%= data.email %>
                                    </p>
                                </div>
                            </div>

                            <!-- recapito telefonico -->
                            <div class="form-group" id="newMob">
                                <label for="mobile">Recapito telefonico</label>
                                <div>
                                    <input type="number" class="form-control" name="newMobile"
                                        placeholder="Nuovo recapito telefonico">
                                    <span id="mob_error" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="pull-right">
                                <!-- Save -->
                                <button id="btn-signup" type="submit" class="btn btn-success"><i
                                        class="icon-hand-right"></i> Salva </button>

                                <!-- Cancel -->
                                <a class="btn btn-default" href="/dashboard" role="button">Annulla</a>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>

            function hideErrors() {

                $("#mob_error").hide();
            }

            hideErrors();

            $("#btn-signup").click(function () {
                var hasError = false;

                hideErrors();

                var newMob = $("[name='newMobile']").val();

                $("#newMob").removeClass("has-error");

                if (newMob === "") {
                    hasError = true;
                    $("#newMob").addClass("has-error");
                    $("#mob_error").text("Controllare di aver inserito un recapito telefonico");
                    $("#mob_error").show();
                }

                if (hasError)
                    return false;
            });


        </script>
    </body>

</html>