<html>
<%- include('./header.ejs');%>
<body>
    <div class="container col-sm-12" id="mainform">
        <div id="editPassword" style=" margin-top:50px"
            class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Cambia Password</div>
                </div>
                <div class="panel-body">
                     <form role="form" method="post" action="/home/editPassword">
                        <% if (message !=='') { %>
                            <div class="alert alert-danger col-sm-12">
                                <%= message %>
                            </div>
                            <% } %>

                                <!-- Vecchia Password -->
                                <div class="form-group" id="pass">
                                    <label for="password">Vecchia Password</label>
                                    <div>
                                        <input type="password" class="form-control" name="password"
                                            placeholder="Vecchia Password">
                                        <span id="pass_error" class="text-danger"></span>
                                    </div>
                                </div> 
                                
                                <!-- Nuova Password -->
                                <div class="form-group" id="newpass">
                                    <label for="nuovapassword">Nuova Password</label>
                                    <div>
                                        <input type="password" class="form-control" name="newpassword"
                                            placeholder="Nuova Password">
                                        <span id="newpass_error" class="text-danger"></span>
                                    </div>
                                </div>


                                <!-- Conferma password -->
                                <div class="form-group" id="pass1">
                                    <label for="confermapassword">Conferma la nuova
                                        Password</label>
                                    <div>
                                        <input type="password" class="form-control" name="password1"
                                            placeholder="Conferma la nuova Password">
                                        <span id="pass1_error" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="pull-right">
                                    <!-- Save -->
                                    <button id="btn-signup" type="submit" class="btn btn-success"><i
                                            class="icon-hand-right"></i> Salva password</button>

                                    <!-- Cancel -->
                                    <a class="btn btn-default" href="/dashboard" role="button">Annulla</a>

                                </div>




                    </form>
                </div>
            </div>


        </div>
    </div>


    <script>

        function hideErrors() {
        
            $("#pass_error").hide();
            $("#newpass_error").hide();
            $("#pass1_error").hide();
        }

        hideErrors();

        $("#btn-signup").click(function () {
            var hasError = false;

            hideErrors();

            var pass = $("[name='password']").val();
            var newpass = $("[name='newpassword']").val();
            var pass1 = $("[name='password1']").val();
         

            
            $("#pass").removeClass("has-error");
            $("#newpass").removeClass("has-error");
            $("#pass1").removeClass("has-error");
            


            if (pass === "") {
                hasError = true;
                $("#pass").addClass("has-error");
                $("#pass_error").text("La password vecchia non è stata inserita");
                $("#pass_error").show();
            }
            if (newpass === "") {
                hasError = true;
                $("#newpass").addClass("has-error");
                $("#newpass_error").text("La password nuova non è stata inserita");
                $("#newpass_error").show();
            }

            if (pass1 === "" || newpass.toString() !== pass1.toString()) {
                if (pass1 === "") {
                    hasError = true;
                    $("#pass1").addClass("has-error");
                    $("#pass1_error").text("Conferma la nuova password inserita");
                    $("#pass1_error").show();
                }
                else {
                    hasError = true;
                    $("#pass1").addClass("has-error");
                    $("#pass1_error").text("La password non coincide");
                    $("#pass1_error").show();
                }
            }

            if (hasError)
                return false;
        });


    </script>

</body>
</html>