<html lang="en">

<%- include('./header.ejs');%>

    <body>
        <div class="container">
            <%- include('./menu.ejs');%>

                <div class="jumbotron">
                    <h1 align="center">Book Classroom Seat</h1>
                    <p align="center">Grazie a questa web app potrai prenotare un posto in aula per seguire una lezione
                        universitaria </p>
                    <hr class="my-4">
                </div>
                <span>UserId:
                    <% if(userId) { %>
                        <%= userId.nome %>
                            <% } %>
                </span>

        </div>

    </body>

</html>