<html lang="en">

<%- include('./header.ejs');%>

    <body>
        <div class="container">
            <%- include('./menu.ejs');%>

                <div class="jumbotron">
                    <h1 align="center">Book Classroom Seat</h1>
                    <p align="center">Grazie a questa web app potrai prenotare un posto in aula per seguire una lezione
                        universitaria </p>
                    <hr class="my-4">
                    <img src="https://upload.wikimedia.org/wikipedia/it/thumb/4/48/Logo_Universit%C3%A0_di_Perugia.gif/600px-Logo_Universit%C3%A0_di_Perugia.gif"
                        alt="LogoUniPG" class="center">
                </div>
                <style>
                    img {
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        max-width: 23%;
                        height: auto;
                    }
                </style>

        </div>

    </body>

</html>