<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if(userId) { %>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Menù di <%= userId.nome %> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/home/myReservation">Le mie prenotazioni</a></li>
                            <li><a href="/home/profile">Visualizza profilo</a></li>
                            <li><a href="/home/editPassword">Modifica password</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/home/logout">Esci</a></li>
                        </ul>
                    </li>
                    <% } else { %>
                        <li><a href="/home/login">Login</a></li>
                        <% } %>
            </ul>
            <ul class="nav navbar-nav">
                <% if(userId) { %>
                    <li><a href="/dashboard">Dashboard di <%= userId.nome %></a></li>
                    <% } %>
            </ul>
        </div>
    </div>
</nav>