</html lang="en">
<%- include('./header.ejs');%>

	<body>
		<div class="container">
			<%- include('./menu.ejs');%>
				<div class="form-group">
					<h1>Scegli l'insegnamento</h1>


					<select name="insegnamento">
						<% for (var i=0; i < data.length; i++) { %>
							<option>
								<%= data[i].Nome %>
							</option>
							<% } %>
					</select>
					<input type="submit" value="Cerca Lezioni" onclick="goDosomething(this)">
				</div>
		</div>
		<script type="text/javascript"></script>
		<script>function goDoSomething(d) {
				alert(d.getAttribute("data[i].Nome"));
			}
		</script>
	</body>

	</html>